<configuration>
  <system.webServer>
    
    <!-- indicates that the server.js file is a node.js application 
    to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="dist/server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent" patternSyntax="Wildcard">
          <action type="Rewrite" url="public/{R:0}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_URI}" pattern="/public/*" />
          </conditions>
          <match url="*.*" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="dist/server.js" />
        </rule>
        
        <!-- Socket.io specific routing for WebSockets through IIS -->
        <rule name="SocketIO" patternSyntax="ECMAScript">
           <match url="socket.io/(.*)" />
           <action type="Rewrite" url="dist/server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Exclude the public folder from iisnode routing completely where possible -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="src" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Configure node process -->
    <iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
      promoteServerVars="LOGON_USER,AUTH_TYPE"
      watchedFiles="web.config;*.js"
    />
  </system.webServer>
</configuration>
